.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.input{
    text-align: center;
}

.error{
    color: red;
    background-color: #f6cece;
    text-align: center;
    padding: 5px;
}

p{
    margin: 0;
}

.hidden{
    display: none;

}